.slider {
  position: relative;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.textblock {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
.header{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(144, 205, 255);
  color: #fff;
}
.button {
  background-color:rgb(144, 205, 255);
	border-radius:28px;
	border:1px solid rgb(144, 205, 255);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
  position: absolute;
  top: 100%;

}
.button:hover {
	background-color:rgb(67, 117, 158);
}
.title {
  max-width: fit-content;
  text-align:center;
 
}
.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media only screen and (max-width: 600px) {
  .image {
    max-width: 100%;
    height: auto;
  }
}